header{
    background-image: url(img/pattern.png);
    background-color: rgb(21, 173, 173);
    height: 250px;
}

#booleaner {
    width: 300px;
    padding-top: 150px;
}

#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

